<div>
    <div>
        <h2>Chat de administradores.</h2>
    </div>
    <input id="chatbox">
    <div>
        <h4 id="messageLogs"></h4>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>